Requirements
מה ניתן לעשות בתפריט:
1.	להציג אפשרויות
2.	קבלת קלט
3.	הפנייה לפעולה
מהי פעולה:
1.	קטע קוד שרלוונטי לתוכנית המארחת
2.	הפניה לתפריט נוסף
3.	חזרה לתפריט הקודם
4.	יציאה מהתפריט

•	לאחר שמתבצעת פעולה – התפריט יחזור על עצמו/ יחזור לתפריט הראשי.
•	קלט לא תקין- תוצג שגיאה אינדיקטיבית ללקוח והתפריט יחזור על עצמו.
